<ul class="auth-menu list-unstyled d-flex mb-0">
  <li class="me-2">
    <a *ngIf="!isLoggedIn" class="nav-link active" routerLink="/Login" [routerLinkActive]="'active'"
       [routerLinkActiveOptions]="{exact: true}">Login</a>
  </li>
  <li>
    <a *ngIf="isLoggedIn" (click)="logOut()" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"
       class="nav-link active">Logout</a>
  </li>
  <li class="me-2">
    <a *ngIf="!isLoggedIn" (click)="openRegisterForm()" class="nav-link active" [routerLinkActive]="'active'"
       [routerLinkActiveOptions]="{exact: true}">Register</a>
  </li>
</ul>
